    <%include ../partials/admin/header%>

    <br/>
    <br/>
    <br/>
    <br/>
        <div style="background-color: cyan">
           
            Your Entered this site : <%=counter%> Times
        </div>
        <br/><br/><br/>

    <%include ../partials/admin/footer%>
        
          